<div class="container">
	<h1>Your Gold: <span><%= session[:score] ? session[:score] : 0 %></span></h1>

	<form action="/process_money" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<h2>Farm</h2>
		<h3>earns 10 - 20 golds</h3>
		<input type="hidden" name="building" value="farm" />
		<input type="submit" name="submit" value="Find Gold!" />
	</form>

	<form action="/process_money" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<h2>Cave</h2>
		<h3>earns 5 - 10 golds</h3>
		<input type="hidden" name="building" value="cave" />
		<input type="submit" name="submit" value="Find Gold!" />
	</form>

	<form action="/process_money" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<h2>House</h2>
		<h3>earns 2 - 5 golds</h3>
		<input type="hidden" name="building" value="house" />
		<input type="submit" name="submit" value="Find Gold!" />
	</form>
	<form action="/process_money" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		<h2>Casino!</h2>
		<h3>earns/takes 0 - 50 golds</h3>
		<input type="hidden" name="building" value="casino" />
		<input type="submit" name="submit" value="Find Gold!" />
	</form>
	<!-- lagay ng if -->

	<div class="activities">
<% if session[:activities] %>
<% for activity in session[:activities].reverse()%>
        <p class="<%= activity['status'] == 'earned' ? 'add-points' : 'deduct-points' %>">You entered <i><%= activity["building"].capitalize %></i> and <i><%= activity["status"].capitalize %> <%= activity["random_score"] %> gold (<%= activity["curr_date"] %>)  </p>
<% end %>
<% end %>
	</div>
</div>
